@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}


.landing{
    background-color:  hsl(0, 100%, 74%) ;
    height: 100vh;
    background-image: url("../images/bg-intro-desktop.png");

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    padding: 10%;
}

.left{
    color: white;
    max-width: 370px;
    margin: 5%;
}


@media  (max-width: 480px) {
    .landing{
        flex-direction: column;
    }
  }